<ion-header>
  <ion-navbar>
    <ion-title>DateTimePage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list >
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"> </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"> </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ends</ion-label>
      <ion-datetime displayFormat="MMM DD YY" [(ngModel)]="event.timeStarts"> </ion-datetime>
    </ion-item>
  </ion-list> -->
  <ion-list style="width: 300px;">
    <ion-item *ngFor="let item of data; let iy = index" (click)="abrirAno(iy)" style="display: flex;">
      {{item.ano}}
      <span *ngIf="data[iy].show" style="width: 50px;margin-right: 0; ">
          <div *ngFor="let item of data[iy].meses;" style="border: black solid 1px; width: 50px; margin-right: 0;" (click)="ClickMesAno(iy, item)">
            {{item}}
          </div>
      </span>
    </ion-item>
  </ion-list>

</ion-content>